.ads {
    padding: 16px;
    background-color: var(--color04);
    border-radius: 10px;
    max-width: 640px;
}

.adsTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: white;
    margin: 0 0 12px 0;
}

.adsDescription {
    font-size: 12px;
    font-weight: 500;
    line-height: 19.2px;
    margin: 0 0 16px 0;
    color: white;
}

.adsTag {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    background-color: var(--color05);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
    height: 44px;
    width: 128px;
    padding: 0 20px;
    text-align: center;
    color: white;
    margin: 0 0 26px 0;
}