.main {
    margin: 32px 24px 48px 24px;
}

.adsImage {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.mainContainerAds {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
    margin: 0 0 32px 0;
}

.ads1,
.ads2 {
    padding: 16px;
    background-color: var(--color04);
    border-radius: 10px;
    max-width: 640px;
}

.ads2 {
    background-color: var(--color05);
}

.ads1Title,
.ads2Title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: white;
    margin: 0 0 12px 0;
}

.ads1Description,
.ads2Description {
    font-size: 12px;
    font-weight: 500;
    line-height: 19.2px;
    margin: 0 0 16px 0;
    color: white;
}

.ads1Tag,
.ads2Tag {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    background-color: var(--color05);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
    height: 44px;
    width: 128px;
    padding: 0 20px;
    text-align: center;
    color: white;
    margin: 0 0 26px 0;
}

.ads2Tag {
    background-color: var(--color04);
}

.mainTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: var(--color02);
    text-align: left;
    margin: 0 0 5px 0;
}

.mainDescription {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: var(--color02);
    text-align: left;
    margin: 0 0 32px 0;
}

.mainContainerCustomFilters {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 15px 0 0 0;
}

.mainSearch{
    margin: 0 0 24px 0;
}

.mainList {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    justify-content: center;
}

.mainListItem {
    flex: 0 0 100%;
    max-width: 310px;
}