.footer {
    padding: 24px;
}

.footerLogo {
    display: block;
    max-width: 100%;
    min-width: 25px;
    min-height: 25px;
}

.footerTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: var(--color02);
    text-transform: uppercase;
}

.footerContainerLogo {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;
    margin: 0 0 16px 0;
}

.footerDescription {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.12px;
    color: var(--color08);
}

.footerContainerHeader {
    margin: 0 0 48px 0;
}

.footerTitleLinks {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: var(--color02);
    margin: 0 0 16px 0;
}

.footerList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerListItem {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px;
    color: var(--color08);
}

.footerListItem:not(:last-child) {
    margin: 0 0 10px 0;
}

.containerBody {
    display: flex;
    flex-flow: row wrap;
    gap: 48px 65px;
    align-items: flex-start;
}

.footerLineDiviser {
    display: none;
}

.footerContainer {
    margin: 0 0 48px 0;
}

.footerText {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
    color: var(--color02);
}

.footerTextMargin {
    margin: 0 0 32px 0;
}

.footerContainerText {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 640px) {
    .footer {
        background-color: white;
        padding: 80px 60px 60px 60px;
    }

    .footerTitle {
        font-size: 32px;
        line-height: 48px;
        margin: 0;
        padding: 0;
        letter-spacing: -0.96px;
    }

    .footerDescription {
        font-size: 16px;
        letter-spacing: -0.32px;
    }

    .footerContainerHeader {
        margin: 0;
        max-width: 300px;
    }

    .footerTitleLinks {
        margin: 0 0 16px 0;
    }

    .footerListItem {
        line-height: 24px;
        letter-spacing: -0.32px;
    }

    .footerContainer {
        margin: 0 0 36px 0;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15px;
    }

    .footerLineDiviser {
        display: block;
        border: none;
        height: 1px;
        background: rgba(19, 19, 19, 0.16);
        margin: 0 0 36px 0;
    }

    .footerContainerDescriptions {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    .footerTextMargin {
        margin: 0;
    }

    .footerContainerText {
        gap: 60px;
    }

    .footerText {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.32px;
    }
}